/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*===== Colors =====*/
  --yellow-color: #f0da9fec;
  --dark-color: #333533;
  --green-color-light:#e8eddf;
  --green-color: #b0c4b1;
  --green-color-dark:#84A281;

  --title-color: #19181b;
  --text-color: #333533;
  --text-color-light: #afaa9d;
  --body-color: #fffdf881;

  /*===== Font and typography =====*/
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*===== z index =====*/
  --z-fixed: 100;
}


body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,5fr));
  grid-gap: 0.5rem;
  align-items: start; 
  justify-items: stretch;
  background:var(--body-color);
  padding: 5rem;
}
/* vnes */
.container .input-group {
  width: 300px;
  height: 20px;
  margin-bottom: 25px;
}

.container .input-group input {
  width: 300px;
  height: 30px;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: var(--small-font-size);
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container .input-group input:focus {
  border-color: var(--green-color);
}
/* kopce */
.container .input-group .btn {
  display: block;
  width: 300px;
  height: 30px;
  padding: 5px 20px;
  text-align: center;
  border: none;
  background: var(--green-color);
  outline: none;
  border-radius: 30px;
  font-size: var(--normal-font-size);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .input-group .btn:hover {
  transform: translateY(-5px);
  background: var(--green-color-dark);
}